/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
body{
    margin: 1.5em;
    font-family: 'poppins';
    font-size: 25px;
}
ul{
    list-style-type: none;
    padding: 0;
    margin-top: 5em;
}
.cross{
    position: absolute;
    top: .6em;
    right: .7em;

}

ul a{
    color: black;
    font-weight: 900;
    padding: .7em 2em;
    display: block;
    &:hover{
        background-color:gray;
    }
}
a{
    text-decoration: none;
    font-size: 1.3rem;

}
.image{
    position: absolute;
    background: url('./shoes4.jpg');
    background-size: cover;
    background-position-x:20%;
    background-position-y:20%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}
.brand{
   color:rgb(255, 255, 255);
   font-weight:600;
   
}
header{
    display: flex;
    justify-content: space-between;
}
nav{
    position: fixed;
    right: 0;
    top: 0;
    background-color: white;
    height: 100vh;
    width: 50%;
    z-index: 22;
    text-transform: uppercase;
    transform: translateX(100%);
    transform: 1s ease-in-out;

    
}
@media only screen and (min-width : 680px) {
    body{
        margin: 1.5em 5em;
        font-family: 'poppins',sans-serif;
        font-size: 25px;
    }
    
}
   
@media only screen and (min-width : 920px) {
    .menu{
        display: none;
    }
  /* section{
        color:black;
    } */

    nav{
        transform: translateX(0);
        position: unset;
        display: block;
        height: auto;
        width: auto;
        background: none;    
    }
    .cross {
        display: none;
             
    }
    ul{
        display: flex;
        margin-top: 0;
    }
    /* section h1{
        color: white;
    } */
   

    nav a{
        color: white;
        font-weight: 300;
        font-size: .7em;
        /* margin-right:.7rem; */
        padding: .5em 1.5em;

        &:hover{
            background: none;
            text-decoration: underline;
        }
    }

    .image{
        left: unset;
        right: 0;
        width: 50%;
        height: 100vh;
        margin-bottom: 2em;


    }
    .logo span{
        color: red;
    }
    section.hero{
        color: black;
        /* height: auto; */
        width: 40%;

    }
 

   .first
   {
    display: flex;
    justify-content: space-around;
    gap: 2em;
    margin-bottom:3em;
    text-align: right; 
   }
   .feature{
     width: 20em;
    
     

   }
  .nextimage {
    object-fit: cover;
    width:15em;
   
  
   }
  
 

   .second{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    gap: 2em;

    margin-bottom:3em;
    text-align: left; 
   }
  


}
    

.nextimage img{
    width: 100%;
    height: 11em;
    object-fit: contain;
    /* position:absolute; */
   

    object-fit: cover;
}

.logo a{
    color: black;
    font-weight: 600;
}
.menu{
    width:1.6em;
    margin: -1em;
    cursor: pointer;
}
.hero
{
    height: 90vh;
    color: white;
}
h1{
    font-size: 3rem;
    color: black;
    margin-top: 2rem;
    line-height: 4rem;

}
.desc{
    /* font-size: 2rem; */
    font-weight: 500;
}
.hero svg{
   stroke: white;
    /* width: 1rem; */
    height: 12rem;
 
}
